NODE_ENV=development
PORT=8000
# Configuração do CORS - URLs permitidas separadas por vírgula
CORS_ORIGINS=http://localhost:3000,https://danielobara.github.io
# Para outros serviços como banco de dados ou serviços externos
# DATABASE_URL=your_database_url_here