#root {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  text-align: center;
  background-image: url("../assets/geniusBackGround.gif");
  background-size: 100%;
  background-position: center;
  background-repeat: repeat;
   }
* {
  font-family: Jost;
}