.HomeLink {
    --primary-color: #d42121;
    --hover-color: #b81c1c;
    --secondary-color: #d42121;
    --secondary-hover-color: #b81c1c;
    --tertiary-color: #d42121;
    --tertiary-hover-color: #b81c1c;
    --quaternary-color: #d42121;
    --quaternary-hover-color: #b81c1c;
    --shadow-color: rgba(33, 212, 33, 0);
    --font-size-large: 1.2rem;
    --border-radius: 20px;
}

/* Estilo Geral do Link */
.HomeLink {
    display: flex;
    font-size: var(--font-size-large);
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    width: 300px;
    height: 150px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 15px 25px;
    font-size: 1.2rem;
    color: white;

    /* Efeitos de Transição */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.HomeLink:hover {
    background-color: var(--hover-color);
    animation: pulseHomeButton 1s;
}


/* Botão Voltar */
#BackButton {
    margin-top: 60px;
}

.HomeLink.imageRed {
    background-image: url("../assets/buttonColor/redButton.png");
    background-size: cover;
    background-position: center;
}
.HomeLink.imageBlue {
    background-image: url("../assets/buttonColor/blueButton.png");
    background-size: cover;
    background-position: center;
}
.HomeLink.imageYellow {
    background-image: url("../assets/buttonColor/yellowButton.png");
    background-size: cover;
    background-position: center;
}
.HomeLink.imageGreen {
    background-image: url("../assets/buttonColor/greenButton.png");
    background-size: cover;
    background-position: center;
}

/* Animação de Pulso */
@keyframes pulseHomeButton {
    0% {
        box-shadow: 0 0 0 0 #b81c1c;
    }

    70% {
        box-shadow: 0 0 0 50px var(--shadow-color);
    }

    100% {
        box-shadow: 0 0 0 0 var(--shadow-color);
    }
}

.HomeLink:focus {
    outline: 2px dashed #b81c1c;
    outline-offset: 4px;
}

@media (max-width: 675px) {
    .HomeLink {
        padding: 10px 20px;
        border-radius: 15px;
        font-size: 1rem;
        width: 90px;
    }

    #BackButton {
        margin-top: 40px;
    }
}