.GameModes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.HomePage h1 {
    color: white;
    text-shadow: 2px 2px 2px rgb(92, 92, 92);
}

.HomePage-Profile {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 10px;
}

.HomePage-Profile img {
    width: 100px;
}

.HomePage-Profile-Buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
    flex-direction: column;
    margin-left: 15px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;

}
.divButtonHome {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
    width: 80%;
}
#logged{
    color: rgb(0, 0, 0);
}

.HomePage-Profile-Buttons button {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    background-color: #21d421;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: white;
}

.HomePage-Profile-Buttons img {
    width: 30px;
}

.HomePage-Profile-Buttons button:hover {
    background-color: #1cb81c;
    cursor: pointer;
}
